src/main/app/menadzer_implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<db:template-query name="selectAllMenadzer" doc:name="Template Query">
		<db:parameterized-query file="src\test\resources\selectAllMenadzer.sql" />
	</db:template-query>
	<db:template-query name="selectByIDMenadzer"
		doc:name="Template Query">
		<db:parameterized-query file="src\test\resources\selectByIDMenadzer.sql" />
	</db:template-query>
	<db:template-query name="insertMenadzer" doc:name="Template Query">
		<db:parameterized-query file="src\test\resources\insertMenadzer.sql" />
	</db:template-query>
	<db:template-query name="updateMenadzer" doc:name="Template Query">
		<db:parameterized-query file="src\test\resources\updateMenadzer.sql" />
	</db:template-query>
	<db:template-query name="deleteMenadzer" doc:name="Template Query">
		<db:parameterized-query file="src\test\resources\deleteMenadzer.sql" />
	</db:template-query>
	<flow name="getMenadzeriFlow">
		<db:select config-ref="Generic_Database_Configuration"
			doc:name="Database">
			<db:template-query-ref name="selectAllMenadzer" />
		</db:select>
		<choice doc:name="Choice">
			<when expression="#[payload == empty]">
				<set-property doc:name="Property" propertyName="Content-Type"
					value="application/json" />
				<set-payload doc:name="Set Payload"
					value="{  &quot;message&quot;: &quot;Trenutno nema menad&#382;era u bazi podataka&quot; }" />
			</when>
			<otherwise>
				<dw:transform-message doc:name="Transform Message"
					metadata:id="03ca259c-c731-4c0a-b760-6c9cbc9fdacb">
					<dw:input-payload doc:sample="sample_data\Menadzer.dwl"
						mimeType="application/java" />
					<dw:set-payload resource="classpath:json_menadzer_playground.dwl" />
				</dw:transform-message>
			</otherwise>
		</choice>
	</flow>
	<flow name="getMenadzerByIDFlow">
		<db:select config-ref="Generic_Database_Configuration"
			doc:name="Database">
			<db:template-query-ref name="selectByIDMenadzer" />
		</db:select>
		<choice doc:name="Choice">
			<when expression="#[payload == empty]">
				<flow-ref name="menadzerErrorFlow" doc:name="menadzerErrorFlow" />
			</when>
			<otherwise>
				<dw:transform-message doc:name="Transform Message"
					metadata:id="0fe42e8b-1711-4c96-b646-7e402c963723">
					<dw:input-payload doc:sample="sample_data\Menadzer.dwl"
						mimeType="application/java" />
					<dw:set-payload resource="classpath:json_menadzer_playground.dwl" />
				</dw:transform-message>
			</otherwise>
		</choice>
	</flow>
	<flow name="postMenadzerFlow">
		<dw:transform-message doc:name="Transform Message"
			metadata:id="48efdb66-77b5-4517-8ea5-070476a88acd">
			<dw:input-payload doc:sample="menadzer-example.json"
				mimeType="application/json" />
			<dw:set-payload resource="classpath:java_playground.dwl" />
		</dw:transform-message>
		<db:insert config-ref="Generic_Database_Configuration"
			doc:name="Database">
			<db:template-query-ref name="insertMenadzer" />
		</db:insert>
		<set-property propertyName="Content-Type" value="application/json"
			doc:name="Property" />
		<set-payload doc:name="Set Payload"
			value="{ &quot;message&quot;: &quot;Dodat novi menad&#382;er&quot; }" />
	</flow>
	<flow name="putMenadzerByIDFlow">
		<dw:transform-message doc:name="Transform Message"
			metadata:id="19c17684-7243-4111-a611-a88742c72419">
			<dw:input-payload doc:sample="menadzer-example.json"
				mimeType="application/json" />
			<dw:set-payload resource="classpath:java_playground.dwl" />
		</dw:transform-message>
		<db:update config-ref="Generic_Database_Configuration"
			doc:name="Database">
			<db:template-query-ref name="updateMenadzer" />
		</db:update>
		<set-property propertyName="Content-Type" value="application/json"
			doc:name="Property" />
		<set-payload doc:name="Set Payload"
			value="{ &quot;message&quot;: &quot;A&#382;uriran/dodat menad&#382;er sa id: #[message.inboundProperties.'http.uri.params'.ID]&quot; }" />
	</flow>
	<flow name="deleteMendzerByIDFlow">
		<db:select config-ref="Generic_Database_Configuration"
			doc:name="Database">
			<db:template-query-ref name="selectByIDMenadzer" />
		</db:select>
		<choice doc:name="Choice">
			<when expression="#[payload == empty]">
				<flow-ref name="menadzerErrorFlow" doc:name="menadzerErrorFlow" />
			</when>
			<otherwise>
				<db:delete config-ref="Generic_Database_Configuration"
					doc:name="Database">
					<db:template-query-ref name="deleteMenadzer" />
				</db:delete>
				<set-property propertyName="Content-Type" value="application/json"
					doc:name="Property" />
				<set-payload
					value="{ &quot;message&quot;: &quot;Obrisan menad&#382;er sa id: #[message.inboundProperties.'http.uri.params'.ID]&quot; }"
					doc:name="Set Payload" />
			</otherwise>
		</choice>

	</flow>
	<flow name="menadzerErrorFlow">
		<set-property propertyName="http.status" value="404"
			doc:name="Property" />
			<set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
		<set-payload
			value="{ &quot;message&quot;: &quot;Ne postoji menad&#382;er sa id: #[message.inboundProperties.'http.uri.params'.ID]&quot; }"
			doc:name="Set Payload" />
	</flow>
</mule>
