src/main/app/prodavac_implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<db:template-query name="selectAllProdavac" doc:name="Template Query">
		<db:parameterized-query file="src\test\resources\selectAllProdavac.sql" />
	</db:template-query>
	<db:template-query name="selectByIDProdavac"
		doc:name="Template Query">
		<db:parameterized-query file="src\test\resources\selectByIDProdavac.sql" />
	</db:template-query>
	<db:template-query name="insertProdavac" doc:name="Template Query">
		<db:parameterized-query file="src\test\resources\insertProdavac.sql" />
	</db:template-query>
	<db:template-query name="updateProdavac" doc:name="Template Query">
		<db:parameterized-query file="src\test\resources\updateProdavac.sql" />
	</db:template-query>
	<db:template-query name="insertProdavac2" doc:name="Template Query">
		<db:parameterized-query file="src\test\resources\insertProdavac2.sql" />
	</db:template-query>
	<flow name="getProdavciFlow">
		<db:select config-ref="Generic_Database_Configuration"
			doc:name="Database">
			<db:template-query-ref name="selectAllProdavac" />
		</db:select>
		<choice doc:name="Choice">
			<when expression="#[payload == empty]">
				<set-payload doc:name="Set Payload"
					value="{  &quot;message&quot;: &quot;Trenutno nema prodavaca u bazi podataka&quot; }" />
			</when>
			<otherwise>
				<dw:transform-message doc:name="Transform Message"
					metadata:id="03cr359c-c726-4c0a-b760-6c9cbc9fdacb">
					<dw:input-payload doc:sample="sample_data\Prodavac.dwl"
						mimeType="application/java" />
					<dw:set-payload resource="classpath:json_prodavac_playground.dwl" />
				</dw:transform-message>
			</otherwise>
		</choice>
	</flow>
	<flow name="getProdavacByIDFlow">
		<db:select config-ref="Generic_Database_Configuration"
			doc:name="Database">
			<db:template-query-ref name="selectByIDProdavac" />
		</db:select>
		<choice doc:name="Choice">
			<when expression="#[payload == empty]">
				<flow-ref name="prodavacErrorFlow" doc:name="prodavacErrorFlow" />
			</when>
			<otherwise>
				<dw:transform-message doc:name="Transform Message"
					metadata:id="0fe42e8b-1747-4e96-b646-7e402c963723">
					<dw:input-payload doc:sample="sample_data\Prodavac.dwl"
						mimeType="application/java" />
					<dw:set-payload resource="classpath:json_prodavac_playground.dwl" />
				</dw:transform-message>
			</otherwise>
		</choice>
	</flow>
	<flow name="postProdavacFlow">
		<dw:transform-message doc:name="Transform Message"
			metadata:id="48efdb66-77b0-4517-8ea5-070146a88acd">
			<dw:input-payload doc:sample="prodavac-example.json"
				mimeType="application/json" />
			<dw:set-payload resource="classpath:java_playground.dwl" />
		</dw:transform-message>
		<db:insert config-ref="Generic_Database_Configuration"
			doc:name="Database">
			<db:template-query-ref name="insertProdavac" />
		</db:insert>
		<set-payload
			value="{ &quot;message&quot;: &quot;Dodat novi prodavac&quot; }"
			doc:name="Set Payload" />
	</flow>
	<flow name="putProdavacByIDFlow">
		<dw:transform-message doc:name="Transform Message"
			metadata:id="89c17684-0042-4111-a611-a88742c72419">
			<dw:input-payload doc:sample="prodavac-example.json"
				mimeType="application/json" />
			<dw:set-payload resource="classpath:java_playground.dwl" />
		</dw:transform-message>
		<enricher target="#[flowVars.result]" doc:name="Message Enricher">
			<db:update config-ref="Generic_Database_Configuration"
				doc:name="Database">
				<db:template-query-ref name="updateProdavac" />
			</db:update>
		</enricher>
		<choice doc:name="Choice">
			<when expression="#[flowVars.result == empty]">
				<db:insert config-ref="Generic_Database_Configuration"
					doc:name="Database">
					<db:template-query-ref name="insertProdavac2" />
				</db:insert>
				<set-property propertyName="http.status" value="201"
					doc:name="Property" />
				<set-payload
					value="{ &quot;message&quot;: &quot;Dodat novi prodavac&quot; }"
					doc:name="Set Payload" />
			</when>
			<otherwise>
				<set-payload
					value="{ &quot;message&quot;: &quot;A&#382;uriran prodavac sa id: #[message.inboundProperties.'http.uri.params'.ID]&quot; }"
					doc:name="Set Payload" />
			</otherwise>
		</choice>
	</flow>
	<flow name="deleteProdavacByIDFlow">
		<db:bulk-execute config-ref="Generic_Database_Configuration"
			doc:name="Database"><![CDATA[delete from it20g2016.trafika.Prodavac where prodavacID=#[message.inboundProperties.'http.uri.params'.ID];]]>
		</db:bulk-execute>
		<choice doc:name="Choice">
			<when expression="#[payload == empty]">
				<flow-ref name="prodavacErrorFlow" doc:name="prodavacErrorFlow" />
			</when>
			<otherwise>
				<set-payload
					value="{ &quot;message&quot;: &quot;Obrisan prodavac sa id: #[message.inboundProperties.'http.uri.params'.ID]&quot; }"
					doc:name="Set Payload" />
			</otherwise>
		</choice>

	</flow>

	<flow name="prodavacErrorFlow">
		<set-property propertyName="http.status" value="404"
			doc:name="Property" />
		<set-payload
			value="{ &quot;message&quot;: &quot;Ne postoji prodavac sa id: #[message.inboundProperties.'http.uri.params'.ID]&quot; }"
			doc:name="Set Payload" />
	</flow>
</mule>
