src/main/app/stavkaRacuna_implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<db:template-query name="selectAllStavkaRacuna"
		doc:name="Template Query">
		<db:parameterized-query file="src\test\resources\selectAllStavkaRacuna.sql" />
	</db:template-query>
	<db:template-query name="selectByIDStavkaRacuna"
		doc:name="Template Query">
		<db:parameterized-query
			file="src\test\resources\selectByIDStavkaRacuna.sql" />
	</db:template-query>
	<db:template-query name="insertStavkaRacuna"
		doc:name="Template Query">
		<db:parameterized-query file="src\test\resources\insertStavkaRacuna.sql" />
	</db:template-query>
	<db:template-query name="updateStavkaRacuna"
		doc:name="Template Query">
		<db:parameterized-query file="src\test\resources\updateStavkaRacuna.sql" />
	</db:template-query>
	<db:template-query name="deleteStavkaRacuna"
		doc:name="Template Query">
		<db:parameterized-query file="src\test\resources\deleteStavkaRacuna.sql" />
	</db:template-query>
	<flow name="stavkaRacuna_implementationFlow">
		<set-variable variableName="active"
			value="#[message.inboundProperties.active]" doc:name="Variable"
			metadata:id="ed9a7ab7-c43f-45c4-bf92-2a29feb099a7" />
		<choice doc:name="Choice">
			<when expression="#[flowVars.active == empty]">
				<flow-ref name="getStavkeRacunaFlow" doc:name="getStavkeRacunaFlow" />
			</when>
			<otherwise>
				<flow-ref name="getStavkeRacunaFlow2" doc:name="getStavkeRacunaFlow2" />
			</otherwise>
		</choice>
	</flow>
	<flow name="getStavkeRacunaFlow2">
		<db:select config-ref="Generic_Database_Configuration"
			doc:name="Database">
			<db:template-query-ref name="selectAllStavkaRacuna" />
		</db:select>
		<choice doc:name="Choice">
			<when expression="#[payload == empty]">
				<set-property doc:name="Property" propertyName="Content-Type"
					value="application/json"/>
				<set-payload doc:name="Set Payload" value="{  &quot;message&quot;: &quot;Trenutno nema stavki ra&#269;una u bazi podataka&quot; }"/>
			</when>
			<otherwise>
				<dw:transform-message doc:name="Transform Message" metadata:id="03ca259c-c762-4c0a-b760-6c7cbc9fdacb">
					<dw:input-payload doc:sample="sample_data\StavkaRacuna.dwl" mimeType="application/java"/>
					<dw:set-payload resource="classpath:json_stavkaRacuna_playground.dwl"/>
				</dw:transform-message>
			</otherwise>
		</choice>

	</flow>
	<flow name="getStavkeRacunaFlow">
		<logger level="INFO" doc:name="Logger" message="#[payload]" />

	</flow>
	<flow name="getStavkaRacunaByIDFlow">
		<db:select config-ref="Generic_Database_Configuration"
			doc:name="Database">
			<db:template-query-ref name="selectByIDStavkaRacuna" />
		</db:select>
		<choice doc:name="Choice">
			<when expression="#[payload == empty]">
				<flow-ref name="stavkaRacunaErrorFlow" doc:name="stavkaRacunaErrorFlow" />
			</when>
			<otherwise>
				<dw:transform-message doc:name="Transform Message"
					metadata:id="1fe42e8b-1747-4c96-b636-5e402c963723">
					<dw:input-payload doc:sample="sample_data\StavkaRacuna.dwl"
						mimeType="application/java" />
					<dw:set-payload resource="classpath:json_stavkaRacuna_playground.dwl" />
				</dw:transform-message>
			</otherwise>
		</choice>
	</flow>
	<flow name="stavkaRacunaErrorFlow">
		<set-property propertyName="http.status" value="404"
			doc:name="Property" />
		<set-payload
			value="Ne postoji stavka ra&#269;una sa id: #[message.inboundProperties.'http.uri.params']."
			doc:name="Set Payload" />
	</flow>
	<flow name="postStavkaRacunaFlow">
		<dw:transform-message doc:name="Transform Message"
			metadata:id="48efdb66-77b0-4516-8ea5-070276a88acd">
			<dw:input-payload doc:sample="stavkaRacuna-example.json"
				mimeType="application/json" />
			<dw:set-payload resource="classpath:java_playground.dwl" />
		</dw:transform-message>
		<db:insert config-ref="Generic_Database_Configuration"
			doc:name="Database">
			<db:template-query-ref name="insertStavkaRacuna" />
		</db:insert>
		<set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
		<set-payload doc:name="Set Payload" value="{ message: &quot;Dodata nova stavka ra&#269;una&quot; }"/>
	</flow>
	<flow name="putStavkaRacunaByIDFlow">
		<dw:transform-message doc:name="Transform Message"
			metadata:id="89c17684-7043-4111-d611-a88742c72419">
			<dw:input-payload doc:sample="stavkaRacuna-example.json"
				mimeType="application/json" />
			<dw:set-payload resource="classpath:java_playground.dwl" />
		</dw:transform-message>
		<db:update config-ref="Generic_Database_Configuration"
			doc:name="Database">
			<db:template-query-ref name="updateStavkaRacuna" />
		</db:update>
		<set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
		<set-payload doc:name="Set Payload" value="{ message: &quot;A&#382;urirana/dodata stavka ra&#269;una sa ra&#269;un id: #[message.inboundProperties.'http.uri.params'.racunID] i proizvod id: #[message.inboundProperties.'http.uri.params'.proizvodID]&quot; }"/>
	</flow>
	<flow name="deleteStavkaRacunaByIDFlow">
		<db:select config-ref="Generic_Database_Configuration"
			doc:name="Database">
			<db:template-query-ref name="selectByIDStavkaRacuna" />
		</db:select>
		<choice doc:name="Choice">
			<when expression="#[payload == empty]">
				<flow-ref name="stavkaRacunaErrorFlow" doc:name="stavkaRacunaErrorFlow" />
			</when>
			<otherwise>
				<db:delete config-ref="Generic_Database_Configuration"
					doc:name="Database">
					<db:template-query-ref name="deleteStavkaRacuna" />
				</db:delete>
				<set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
				<set-payload
					value="{ message: &quot;Obrisana stavka ra&#269;una sa ra&#269;un id: #[message.inboundProperties.'http.uri.params'.racunID] i proizvod id: #[message.inboundProperties.'http.uri.params'.proizvodID]&quot; }"
					doc:name="Set Payload" />
			</otherwise>
		</choice>
	</flow>
</mule>
