src/main/app/stavkaPorudzbine_implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<db:template-query name="selectAllStavkaPorudzbine"
		doc:name="Template Query">
		<db:parameterized-query
			file="src\test\resources\selectAllStavkaPorudzbine.sql" />
	</db:template-query>
	<db:template-query name="selectByIDStavkaPorudzbine"
		doc:name="Template Query">
		<db:parameterized-query
			file="src\test\resources\selectByIDStavkaPorudzbine.sql" />
	</db:template-query>
	<db:template-query name="insertStavkaPorudzbine"
		doc:name="Template Query">
		<db:parameterized-query
			file="src\test\resources\insertStavkaPorudzbine.sql" />
	</db:template-query>
	<db:template-query name="updateStavkaPorudzbine"
		doc:name="Template Query">
		<db:parameterized-query
			file="src\test\resources\updateStavkaPorudzbine.sql" />
	</db:template-query>
	<db:template-query name="deleteStavkaPorudzbine"
		doc:name="Template Query">
		<db:parameterized-query
			file="src\test\resources\deleteStavkaPorudzbine.sql" />
	</db:template-query>
	<db:template-query name="insertStavkaPorudzbine2"
		doc:name="Template Query">
		<db:parameterized-query
			file="src\test\resources\insertStavkaPorudzbine2.sql" />
	</db:template-query>
	<flow name="getStavkePorudzbineFlow">
		<db:select config-ref="Generic_Database_Configuration"
			doc:name="Database">
			<db:template-query-ref name="selectAllStavkaPorudzbine" />
		</db:select>
		<choice doc:name="Choice">
			<when expression="#[payload == empty]">
				<set-payload doc:name="Set Payload"
					value="{  &quot;message&quot;: &quot;Trenutno nema stavki porud&#382;bine u bazi podataka&quot; }" />
			</when>
			<otherwise>
				<dw:transform-message doc:name="Transform Message"
					metadata:id="03ca259c-c736-4c0a-b760-6c9cbc9fdacg">
					<dw:input-payload doc:sample="sample_data\StavkaPorudzbine.dwl"
						mimeType="application/java" />
					<dw:set-payload resource="classpath:json_stavkaPorudzbine_playground.dwl" />
				</dw:transform-message>
			</otherwise>
		</choice>
	</flow>
	<flow name="getStavkaPorudzbineByIDFlow">
		<db:select config-ref="Generic_Database_Configuration"
			doc:name="Database">
			<db:template-query-ref name="selectByIDStavkaPorudzbine" />
		</db:select>
		<choice doc:name="Choice">
			<when expression="#[payload == empty]">
				<flow-ref name="stavkaPorudzbineErrorFlow" doc:name="stavkaPorudzbineErrorFlow" />
			</when>
			<otherwise>
				<dw:transform-message doc:name="Transform Message"
					metadata:id="0fe42e8b-1747-4c51-b646-7e402c963723">
					<dw:input-payload doc:sample="sample_data\StavkaPorudzbine.dwl"
						mimeType="application/java" />
					<dw:set-payload resource="classpath:json_stavkaPorudzbine_playground.dwl" />
				</dw:transform-message>
			</otherwise>
		</choice>
	</flow>

	<flow name="postStavkaPorudzbineFlow">
		<dw:transform-message doc:name="Transform Message"
			metadata:id="48efdb55-77b0-4517-8ea5-070276a88acd">
			<dw:input-payload doc:sample="stavkaPorudzbine-example.json"
				mimeType="application/json" />
			<dw:set-payload resource="classpath:java_playground.dwl" />
		</dw:transform-message>
		<db:insert config-ref="Generic_Database_Configuration"
			doc:name="Database">
			<db:template-query-ref name="insertStavkaPorudzbine" />
		</db:insert>
		<set-payload
			value="{ &quot;message&quot;: &quot;Dodata nova stavka porud&#382;bine&quot; }"
			doc:name="Set Payload" />
	</flow>
	<flow name="putStavkaPorudzbineByIDFlow">
		<dw:transform-message doc:name="Transform Message"
			metadata:id="95c17684-7043-4111-a611-a88742c72419">
			<dw:input-payload doc:sample="stavkaPorudzbine-example.json"
				mimeType="application/json" />
			<dw:set-payload resource="classpath:java_playground.dwl" />
		</dw:transform-message>
		<enricher target="#[flowVars.result]" doc:name="Message Enricher">
			<db:update config-ref="Generic_Database_Configuration"
				doc:name="Database">
				<db:template-query-ref name="updateStavkaPorudzbine" />
			</db:update>
		</enricher>
		<choice doc:name="Choice">
			<when expression="#[flowVars.result == empty]">
				<db:insert config-ref="Generic_Database_Configuration"
					doc:name="Database">
					<db:template-query-ref name="insertStavkaPorudzbine2" />
				</db:insert>
				<set-property propertyName="http.status" value="201"
					doc:name="Property" />
				<set-payload
					value="{ &quot;message&quot;: &quot;Dodata nova stavka porud&#382;bine&quot; }"
					doc:name="Set Payload" />
			</when>
			<otherwise>
				<set-payload
					value="{ &quot;message&quot;: &quot;A&#382;urirana stavka porud&#382;bine sa porud&#382;bina id: #[message.inboundProperties.'http.uri.params'.porudzbinaID] i proizvod id: #[message.inboundProperties.'http.uri.params'.proizvodID]&quot; }"
					doc:name="Set Payload" />
			</otherwise>
		</choice>
	</flow>
	<flow name="deleteStavkaPorudzbineByIDFlow">
		<db:delete config-ref="Generic_Database_Configuration"
			doc:name="Database">
			<db:template-query-ref name="deleteStavkaPorudzbine" />
		</db:delete>
		<choice doc:name="Choice">
			<when expression="#[payload == empty]">
				<flow-ref name="stavkaPorudzbineErrorFlow" doc:name="stavkaPorudzbineErrorFlow" />
			</when>
			<otherwise>
				<set-payload
					value="{ &quot;message&quot;: &quot;Obrisana stavka porud&#382;bine sa porud&#382;bina id: #[message.inboundProperties.'http.uri.params'.porudzbinaID] i proizvod id: #[message.inboundProperties.'http.uri.params'.proizvodID] &quot;}"
					doc:name="Set Payload" />
			</otherwise>
		</choice>

	</flow>

	<flow name="stavkaPorudzbineErrorFlow">
		<set-property propertyName="http.status" value="404"
			doc:name="Property" />
		<set-payload
			value="{ &quot;message&quot;: &quot;Ne postoji stavka porud&#382;bine sa porud&#382;bina id: #[message.inboundProperties.'http.uri.params'.porudzbinaID] i proizvod id: #[message.inboundProperties.'http.uri.params'.proizvodID] &quot;}"
			doc:name="Set Payload" />
	</flow>
</mule>
