src/main/app/vrsta_proizvoda_implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<db:template-query name="selectAllVrstaProizvoda"
		doc:name="Template Query">
		<db:parameterized-query
			file="src\test\resources\selectAllVrstaProizvoda.sql" />
	</db:template-query>
	<db:template-query name="selectByIDVrstaProizvoda"
		doc:name="Template Query">
		<db:parameterized-query
			file="src\test\resources\selectByIDVrstaProizvoda.sql" />
	</db:template-query>
	<db:template-query name="insertVrstaProizvoda"
		doc:name="Template Query">
		<db:parameterized-query file="src\test\resources\insertVrstaProizvoda.sql" />
	</db:template-query>
	<db:template-query name="updateVrstaProizvoda"
		doc:name="Template Query">
		<db:parameterized-query file="src\test\resources\updateVrstaProizvoda.sql" />
	</db:template-query>
	<db:template-query name="deleteVrstaProizvoda"
		doc:name="Template Query">
		<db:parameterized-query file="src\test\resources\deleteVrstaProizvoda.sql" />
	</db:template-query>
	<flow name="vrstaProizvoda_implementationFlow">
		<set-variable variableName="active"
			value="#[message.inboundProperties.active]" doc:name="Variable"
			metadata:id="ed9a7ab7-c43f-45c4-bf92-2a29feb099a7" />
		<choice doc:name="Choice">
			<when expression="#[flowVars.active == empty]">
				<flow-ref name="getVrsteProizvodaFlow" doc:name="getVrsteProizvodaFlow" />
			</when>
			<otherwise>
				<flow-ref name="getVrsteProizvodaFlow2" doc:name="getVrsteProizvodaFlow2" />
			</otherwise>
		</choice>
	</flow>
	<flow name="getVrsteProizvodaFlow2">
		<db:select config-ref="Generic_Database_Configuration"
			doc:name="Database">
			<db:template-query-ref name="selectAllVrstaProizvoda" />
		</db:select>
		<choice doc:name="Choice">
			<when expression="#[payload == empty]">
				<set-property doc:name="Property" propertyName="Content-Type"
					value="application/json"/>
				<set-payload doc:name="Set Payload" value="{  &quot;message&quot;: &quot;Trenutno nema vrsta proizvoda u bazi podataka&quot; }"/>
			</when>
			<otherwise>
				<dw:transform-message doc:name="Transform Message" metadata:id="03ca259c-c726-4c0a-b765-2c9cbc9fdacb">
					<dw:input-payload doc:sample="sample_data\VrstaProizvoda.dwl" mimeType="application/java"/>
					<dw:set-payload resource="classpath:json_vrstaProizvoda_playground.dwl"/>
				</dw:transform-message>
			</otherwise>
		</choice>

	</flow>
	<flow name="getVrsteProizvodaFlow">
		<logger level="INFO" doc:name="Logger" message="#[payload]" />

	</flow>
	<flow name="getVrstaProizvodaByIDFlow">
		<db:select config-ref="Generic_Database_Configuration"
			doc:name="Database">
			<db:template-query-ref name="selectByIDVrstaProizvoda" />
		</db:select>
		<choice doc:name="Choice">
			<when expression="#[payload == empty]">
				<flow-ref name="vrstaProizvodaErrorFlow" doc:name="vrstaProizvodaErrorFlow" />
			</when>
			<otherwise>
				<dw:transform-message doc:name="Transform Message"
					metadata:id="0fe42e8b-2747-4c96-b646-7e402c967723">
					<dw:input-payload doc:sample="sample_data\VrstaProizvoda.dwl"
						mimeType="application/java" />
					<dw:set-payload resource="classpath:json_vrstaProizvoda_playground.dwl" />
				</dw:transform-message>
			</otherwise>
		</choice>
	</flow>
	<flow name="vrstaProizvodaErrorFlow">
		<set-property propertyName="http.status" value="404"
			doc:name="Property" />
		<set-payload
			value="Ne postoji vrsta proizvoda sa id: #[message.inboundProperties.'http.uri.params'.ID]."
			doc:name="Set Payload" />
	</flow>
	<flow name="postVrstaProizvodaFlow">
		<dw:transform-message doc:name="Transform Message">
			<dw:input-payload doc:sample="vrstaProizvoda-example.json"
				mimeType="application/json" />
			<dw:set-payload resource="classpath:java_playground.dwl" />
		</dw:transform-message>
		<db:insert config-ref="Generic_Database_Configuration"
			doc:name="Database">
			<db:template-query-ref name="insertVrstaProizvoda" />
		</db:insert>
		<set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
		<set-payload doc:name="Set Payload" value="{ message: &quot;Dodata nova vrsta proizvoda&quot; }"/>
	</flow>
	<flow name="putVrstaProizvodaByIDFlow">
		<dw:transform-message doc:name="Transform Message"
			metadata:id="89c17684-7043-4112-a611-a88742c72419">
			<dw:input-payload doc:sample="vrstaProizvoda-example.json"
				mimeType="application/json" />
			<dw:set-payload resource="classpath:java_playground.dwl" />
		</dw:transform-message>
		<db:update config-ref="Generic_Database_Configuration"
			doc:name="Database">
			<db:template-query-ref name="updateVrstaProizvoda" />
		</db:update>
		<set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
		<set-payload doc:name="Set Payload" value="{ message: &quot;A&#382;urirana/dodata vrsta proizvoda sa id: #[message.inboundProperties.'http.uri.params'.ID]&quot; }"/>
	</flow>
	<flow name="deleteVrstaProizvodaByIDFlow">
		<db:select config-ref="Generic_Database_Configuration"
			doc:name="Database">
			<db:template-query-ref name="deleteVrstaProizvoda" />
		</db:select>
		<choice doc:name="Choice">
			<when expression="#[payload == empty]">
				<flow-ref name="vrstaProizvodaErrorFlow" doc:name="vrstaProizvodaErrorFlow" />
			</when>
			<otherwise>
				<db:delete config-ref="Generic_Database_Configuration"
					doc:name="Database">
					<db:parameterized-query><![CDATA[delete from it20g2016.trafika.VrstaProizvoda where vrstaProizvodaID=#[message.inboundProperties.'http.uri.params'.ID];]]></db:parameterized-query>
				</db:delete>
				<set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
				<set-payload
					value="{ message: &quot;Obrisana vrsta proizvoda sa id: #[message.inboundProperties.'http.uri.params'.ID]&quot; }"
					doc:name="Set Payload" />
			</otherwise>
		</choice>
	</flow>
</mule>
