target/classes/dobavljac_implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="dobavljac_implementationFlow">
        <set-variable variableName="active" value="#[message.inboundProperties.'http.query.params'.name]" doc:name="Variable" metadata:id="ed9a7ab7-c43f-45c4-bf92-2a29feb099a7"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.active == empty]">
                <flow-ref name="getDobavljaciFlow2" doc:name="getDobavljaciFlow2"/>
            </when>
            <otherwise>
                <flow-ref name="getDobavljaciFlow" doc:name="getDobavljaciFlow"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="getDobavljaciFlow2">
		<db:select config-ref="Generic_Database_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[select * from it20g2016.trafika.Dobavljac;]]></db:parameterized-query>
		</db:select>
        <dw:transform-message doc:name="Transform Message" metadata:id="03ca259c-c726-4c0a-b760-6c9cbc9fdacb">
            <dw:input-payload doc:sample="sample_data\Dobavljac.dwl" mimeType="application/java"/>
            <dw:set-payload resource="classpath:json_dobavljac_playground.dwl"/>
        </dw:transform-message>
        <logger level="INFO" doc:name="Logger" message="#[payload]"/>
		<catch-exception-strategy doc:name="Catch Exception Strategy">
			<logger message="hello" level="INFO" doc:name="Logger"/>
		</catch-exception-strategy>

    </flow>
    <flow name="getDobavljaciFlow">
		<logger message="hello" level="INFO" doc:name="Logger"/>


    </flow>
    <flow name="getDobavljacByIDFlow">
		<db:select config-ref="Generic_Database_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[select * from it20g2016.trafika.Dobavljac where dobavljacID=#[message.inboundProperties.'http.uri.params'.ID];]]></db:parameterized-query>
		</db:select>
        <choice doc:name="Choice">
            <when expression="#[payload == empty]">
                <flow-ref name="dobavljacErrorFlow" doc:name="dobavljacErrorFlow"/>
            </when>
            <otherwise>
                <flow-ref name="dobavljacSuccessFlow" doc:name="dobavljacSuccessFlow"/>
            </otherwise>
        </choice>

    </flow>
    <flow name="dobavljacErrorFlow">
        <set-property propertyName="http.status" value="404" doc:name="Property"/>
        <set-payload value="Ne postoji dobavlja&#269; sa id: #[message.inboundProperties.'http.uri.params'.ID]." doc:name="Set Payload"/>
		<logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="dobavljacSuccessFlow">
        <dw:transform-message doc:name="Transform Message" metadata:id="0fe42e8b-1747-4c96-b646-7e402c963723">
            <dw:input-payload doc:sample="sample_data\Dobavljac.dwl" mimeType="application/java"/>
			<dw:set-payload resource="classpath:json_dobavljac_playground.dwl"/>
        </dw:transform-message>
		<logger message="Dodat dobavlja&#269; u fajl sa id: #[message.inboundProperties.'http.uri.params'.ID]." level="INFO" doc:name="Logger"/>
    </flow>

    <flow name="postDobavljacFlow">
        <dw:transform-message doc:name="Transform Message" metadata:id="48efdb66-77b0-4517-8ea5-070276a88acd">
            <dw:input-payload doc:sample="dobavljac-example.json" mimeType="application/json"/>
            <dw:set-payload resource="classpath:java_playground.dwl"/>
        </dw:transform-message>
		<db:insert config-ref="Generic_Database_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[insert into it20g2016.trafika.Dobavljac (dobavljacID, skraceniNaziv, punNaziv, kontaktDobavljaca, adresaDobavljaca, grad, drzava, postanskiBroj, PIB, kontaktOsoba, brojZiroRacuna) values (#[payload.dobavljacID], #[payload.skraceniNaziv], #[payload.punNaziv], #[payload.kontaktDobavljaca], #[payload.adresaDobavljaca], #[payload.grad], #[payload.drzava], #[payload.postanskiBroj], #[payload.PIB], #[payload.kontaktOsoba], #[payload.brojZiroRacuna]);]]></db:parameterized-query>
		</db:insert>

        <logger level="INFO" doc:name="Logger"/>

        <catch-exception-strategy doc:name="Catch Exception Strategy" >
            <set-property propertyName="http.status" value="400" doc:name="Property"/>
            <set-payload value="Vec postoji dobavlja&#269; sa id: #[message.inboundProperties.'http.uri.params'.ID + '\n' + exception]" doc:name="Set Payload"/>

            <logger level="ERROR" doc:name="Logger" message="#[exception]"/>
        </catch-exception-strategy>
    </flow>
    <flow name="putDobavljacByIDFlow">
        <dw:transform-message doc:name="Transform Message" metadata:id="89c17684-7043-4111-a611-a88742c72419">
            <dw:input-payload doc:sample="dobavljac-example.json" mimeType="application/java"/>
            <dw:set-payload resource="classpath:java_playground.dwl"/>
        </dw:transform-message>
		<db:update config-ref="Generic_Database_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[update it20g2016.trafika.Dobavljac 
set skraceniNaziv=#[payload.skraceniNaziv], 
punNaziv=#[payload.punNaziv], 
kontaktDobavljaca=#[payload.kontaktDobavljaca], 
adresaDobavljaca=#[payload.adresaDobavljaca], 
grad=#[payload.grad],
drzava=#[payload.drzava], 
postanskiBroj=#[payload.postanskiBroj], 
PIB=#[payload.PIB], 
kontaktOsoba=#[payload.kontaktOsoba], 
brojZiroRacuna=#[payload.brojZiroRacuna]
where dobavljacID=#[message.inboundProperties.'http.uri.params'.ID]
if @@rowcount=0
insert into it20g2016.trafika.Dobavljac (dobavljacID, skraceniNaziv, punNaziv, kontaktDobavljaca, adresaDobavljaca, grad, drzava, postanskiBroj, PIB, kontaktOsoba, brojZiroRacuna) values (#[message.inboundProperties.'http.uri.params'.ID], #[payload.skraceniNaziv], #[payload.punNaziv], #[payload.kontaktDobavljaca], #[payload.adresaDobavljaca], #[payload.grad], #[payload.drzava], #[payload.postanskiBroj], #[payload.PIB], #[payload.kontaktOsoba], #[payload.brojZiroRacuna]);]]></db:parameterized-query>
		</db:update>



    </flow>

    <flow name="deleteDobavljacByIDFlow">
        <db:select config-ref="Generic_Database_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[select * from it20g2016.trafika.Dobavljac where dobavljacID=#[message.inboundProperties.'http.uri.params'.ID];]]></db:parameterized-query>
        </db:select>
        <choice doc:name="Choice">
            <when expression="#[payload == empty]">
                <flow-ref name="dobavljacErrorFlow" doc:name="dobavljacErrorFlow"/>
            </when>
            <otherwise>
                <db:delete config-ref="Generic_Database_Configuration" doc:name="Database">
					<db:parameterized-query><![CDATA[delete from it20g2016.trafika.Dobavljac where dobavljacID=#[message.inboundProperties.'http.uri.params'.ID];]]></db:parameterized-query></db:delete>
                <set-payload value="Obrisan dobavlja&#269; sa id: #[message.inboundProperties.'http.uri.params'.ID]." doc:name="Set Payload"/>
                <logger message="#[payload]" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>

    </flow>
</mule>
