target/classes/dobavljac_implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">

	<db:template-query name="selectAllDobavljac"
		doc:name="Template Query">
		<db:parameterized-query file="src\test\resources\selectAllDobavljac.sql" />
	</db:template-query>
	<db:template-query name="selectByIDDobavljac"
		doc:name="Template Query">
		<db:parameterized-query file="src\test\resources\selectByIDDobavljac.sql" />
	</db:template-query>
	<db:template-query name="insertDobavljac" doc:name="Template Query">
		<db:parameterized-query file="src\test\resources\insertDobavljac.sql" />
	</db:template-query>
	<db:template-query name="updateDobavljac" doc:name="Template Query">
		<db:parameterized-query file="src\test\resources\updateDobavljac.sql" />
	</db:template-query>
	<db:template-query name="deleteDobavljac" doc:name="Template Query">
		<db:parameterized-query file="src\test\resources\deleteDobavljac.sql" />
	</db:template-query>
	<db:template-query name="insertDobavljac2" doc:name="Template Query">
		<db:parameterized-query file="src\test\resources\insertDobavljac2.sql" />
	</db:template-query>
	<flow name="getDobavljaciFlow">
		<db:select config-ref="Generic_Database_Configuration"
			doc:name="Database">
			<db:template-query-ref name="selectAllDobavljac" />
		</db:select>
		<choice doc:name="Choice">
			<when expression="#[payload == empty]">
				<set-payload
					value="{
	&quot;message&quot;: &quot;Trenutno nema dobavlja&#269;a u bazi podataka&quot;
}"
					doc:name="Set Payload" />
			</when>
			<otherwise>
				<dw:transform-message doc:name="Transform Message"
					metadata:id="03ca259c-c726-4c0a-b760-6c9cbc9fdacb">
					<dw:input-payload doc:sample="sample_data\Dobavljac.dwl"
						mimeType="application/java" />
					<dw:set-payload resource="classpath:json_dobavljac_playground.dwl" />
				</dw:transform-message>
			</otherwise>
		</choice>

	</flow>
	<flow name="getDobavljacByIDFlow">
		<db:select config-ref="Generic_Database_Configuration"
			doc:name="Database">
			<db:template-query-ref name="selectByIDDobavljac" />
		</db:select>
		<choice doc:name="Choice">
			<when expression="#[payload == empty]">
				<flow-ref name="dobavljacErrorFlow" doc:name="dobavljacErrorFlow" />
			</when>
			<otherwise>
				<dw:transform-message doc:name="Transform Message"
					metadata:id="0fe42e8b-1747-4c96-b646-7e402c963723">
					<dw:input-payload doc:sample="sample_data\Dobavljac.dwl"
						mimeType="application/java" />
					<dw:set-payload resource="classpath:json_dobavljac_playground.dwl" />
				</dw:transform-message>
			</otherwise>
		</choice>

	</flow>
	<flow name="postDobavljacFlow">
		<dw:transform-message doc:name="Transform Message"
			metadata:id="48efdb66-77b0-4517-8ea5-070276a88acd">
			<dw:input-payload doc:sample="dobavljac-example.json"
				mimeType="application/json" />
			<dw:set-payload resource="classpath:java_playground.dwl" />
		</dw:transform-message>
		<db:insert config-ref="Generic_Database_Configuration"
			doc:name="Database">
			<db:template-query-ref name="insertDobavljac" />
		</db:insert>
		<set-payload value="{ &quot;message&quot;: &quot;Dodat novi dobavlja&#269;&quot; }"  doc:name="Set Payload"/>
	</flow>
	<flow name="putDobavljacByIDFlow">
		<dw:transform-message doc:name="Transform Message"
			metadata:id="89c17684-7043-4111-a611-a88742c72419">
			<dw:input-payload doc:sample="dobavljac-example.json"
				mimeType="application/json" />
			<dw:set-payload resource="classpath:java_playground.dwl" />
		</dw:transform-message>
		<enricher doc:name="Message Enricher" target="#[flowVars.result]">
			<db:update config-ref="Generic_Database_Configuration"
				doc:name="Database">
				<db:template-query-ref name="updateDobavljac" />
			</db:update>
		</enricher>
		<choice doc:name="Choice">
			<when expression="#[flowVars.result == empty]">
				<db:insert config-ref="Generic_Database_Configuration"
					doc:name="Database">
					<db:template-query-ref name="insertDobavljac2" />
				</db:insert>
				<set-property propertyName="http.status" value="201"
					doc:name="Property" />
				<set-payload value="{ &quot;message&quot;: &quot;Dodat novi dobavlja&#269;&quot; }"  doc:name="Set Payload"/>
			</when>
			<otherwise>
				<set-payload
					value="{ &quot;message&quot;: &quot;A&#382;uriran dobavlja&#269; sa id: #[message.inboundProperties.'http.uri.params'.ID]&quot; }"
					doc:name="Set Payload" />
			</otherwise>
		</choice>
	</flow>

	<flow name="deleteDobavljacByIDFlow">
		<db:delete config-ref="Generic_Database_Configuration"
			doc:name="Database">
			<db:template-query-ref name="deleteDobavljac" />
		</db:delete>
		<choice doc:name="Choice">
			<when expression="#[payload == empty]">
				<flow-ref name="dobavljacErrorFlow" doc:name="dobavljacErrorFlow" />
			</when>
			<otherwise>

				<set-payload
					value="{ &quot;message&quot;: &quot;Obrisan dobavlja&#269; sa id: #[message.inboundProperties.'http.uri.params'.ID]&quot; }"
					doc:name="Set Payload" />
			</otherwise>
		</choice>

	</flow>


	<flow name="dobavljacErrorFlow">
		<set-property propertyName="http.status" value="404"
			doc:name="Property" />

		<set-payload
			value="{ &quot;message&quot;: &quot;Ne postoji dobavlja&#269; sa id: #[message.inboundProperties.'http.uri.params'.ID]&quot; }"
			doc:name="Set Payload" />
	</flow>
</mule>