target/classes/izvestaj_implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="izvestaj_implementationFlow">
        <set-variable variableName="active" value="#[(message.inboundProperties.'http.query.params'.code == empty) ? 'SFO' : message.inboundProperties.'http.query.params'.code] " doc:name="Variable" metadata:id="ed9a7ab7-c43f-45c4-bf92-2a29feb099a7"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.active == empty]">
                <flow-ref name="getIzvestajiFlow" doc:name="getIzvestajiFlow"/>
            </when>
            <otherwise>
                <flow-ref name="getIzvestajiFlow2" doc:name="getIzvestajiFlow2"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="getIzvestajiFlow2">
        <db:select config-ref="Generic_Database_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[select * from it20g2016.trafika.Izvestaj;]]></db:parameterized-query>
        </db:select>
        <dw:transform-message doc:name="Transform Message" metadata:id="04ca259c-c726-4c0a-b760-6c9cbc9fdacb">
            <dw:input-payload doc:sample="sample_data\Izvestaj.dwl" mimeType="application/java"/>
            <dw:set-payload resource="classpath:json_izvestaj_playground.dwl"/>
        </dw:transform-message>
        <logger level="INFO" doc:name="Logger" message="#[payload]"/>

    </flow>
    <flow name="getIzvestajiFlow">
        <logger level="INFO" doc:name="Logger" message="#[payload]"/>

    </flow>
    <flow name="getIzvestajByIDFlow">
		<db:select config-ref="Generic_Database_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[select * from it20g2016.trafika.Izvestaj where izvestajID=#[message.inboundProperties.'http.uri.params'.ID];]]></db:parameterized-query>
		</db:select>
        <choice doc:name="Choice">
            <when expression="#[payload == empty]">
                <flow-ref name="izvestajErrorFlow" doc:name="izvestajErrorFlow"/>
            </when>
            <otherwise>
                <flow-ref name="izvestajSuccessFlow" doc:name="izvestajSuccessFlow"/>
            </otherwise>
        </choice>

    </flow>
    <flow name="izvestajErrorFlow">
        <set-property propertyName="http.status" value="404" doc:name="Property"/>
        <set-payload value="Ne postoji izve&#353;taj sa id: #[message.inboundProperties.'http.uri.params'.ID]." doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="izvestajSuccessFlow">
        <dw:transform-message doc:name="Transform Message" metadata:id="0fe42e9b-1747-4c96-b646-7e402c963723">
       		<dw:input-payload doc:sample="sample_data\Izvestaj.dwl" mimeType="application/java"/>
            <dw:set-payload resource="classpath:json_izvestaj_playground.dwl"/>
        </dw:transform-message>
        <logger message="Dodat izve&#353;taj u fajl sa id: #[message.inboundProperties.'http.uri.params'.ID]." level="INFO" doc:name="Logger"/>
    </flow>

    <flow name="postIzvestajFlow">
        <dw:transform-message doc:name="Transform Message" metadata:id="48efdb66-77b1-4517-8ea5-070276a88acd">
            <dw:input-payload doc:sample="izvestaj-example.json" mimeType="application/json"/>
            <dw:set-payload resource="classpath:java_playground.dwl"/>
        </dw:transform-message>
		<db:insert config-ref="Generic_Database_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[insert into it20g2016.trafika.Izvestaj (promet, brojKupovina, datumOd, datumDo, menadzerID) values (#[payload.promet], #[payload.brojKupovina], #[payload.datumOd], #[payload.datumDo], #[payload.menadzerID]);]]></db:parameterized-query>
		</db:insert>
		<logger level="INFO" doc:name="Logger"/>

        <catch-exception-strategy doc:name="Catch Exception Strategy" >
            <set-property propertyName="http.status" value="400" doc:name="Property"/>
            <set-payload value="Vec postoji izve&#353;taj sa id: #[message.inboundProperties.'http.uri.params'.ID + '\n' + exception]" doc:name="Set Payload"/>

            <logger level="ERROR" doc:name="Logger" message="#[exception]"/>
        </catch-exception-strategy>
    </flow>
    <flow name="putIzvestajByIDFlow">
        <dw:transform-message doc:name="Transform Message" metadata:id="89c17684-7043-4111-a611-a88742c72417">
         	<dw:input-payload doc:sample="izvestaj-example.json" mimeType="application/json"/>
            <dw:set-payload resource="classpath:java_playground.dwl"/>
        </dw:transform-message>
		<db:update config-ref="Generic_Database_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[update it20g2016.trafika.Izvestaj
set promet=#[payload.promet],
brojKupovina=#[payload.brojKupovina],
datumOd=#[payload.datumOd],
datumDo=#[payload.datumDo],
menadzerID=#[payload.menadzerID]
where izvestajID=#[message.inboundProperties.'http.uri.params'.ID];
if @@rowcount=0
insert into it20g2016.trafika.Izvestaj (promet, brojKupovina, datumOd, datumDo, menadzerID) values (#[payload.promet], #[payload.brojKupovina], #[payload.datumOd], #[payload.datumDo], #[payload.menadzerID]);]]></db:parameterized-query>
		</db:update>
        <logger level="INFO" doc:name="Logger"/>

    </flow>
    <flow name="deleteIzvestajByIDFlow">
        <db:select config-ref="Generic_Database_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[select * from it20g2016.trafika.Izvestaj where izvestajID=#[message.inboundProperties.'http.uri.params'.ID];]]></db:parameterized-query>
        </db:select>
        <choice doc:name="Choice">
            <when expression="#[payload == empty]">
                <flow-ref name="izvestajErrorFlow" doc:name="izvestajErrorFlow"/>
            </when>
            <otherwise>
				<db:delete config-ref="Generic_Database_Configuration" doc:name="Database">
					<db:parameterized-query><![CDATA[delete from it20g2016.trafika.Izvestaj where izvestajID=#[message.inboundProperties.'http.uri.params'.ID];]]></db:parameterized-query>
				</db:delete>

                <set-payload value="Obrisan izve&#353;taj sa id: #[message.inboundProperties.'http.uri.params'.ID]." doc:name="Set Payload"/>
                <logger message="#[payload]" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>

    </flow>
</mule>
