target/classes/izvestaj_implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="izvestaj_implementationFlow">
        <set-variable variableName="active" value="#[message.inboundProperties.active]" doc:name="Variable" metadata:id="ed9a7ab7-c43f-45c4-bf92-2a29feb099a7"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.active == empty]">
                <flow-ref name="getProizvodiFlow" doc:name="getIzvestajiFlow"/>
            </when>
            <otherwise>
                <flow-ref name="getProizvodiFlow2" doc:name="getIzvestajiFlow2"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="getIzvestajiFlow2">
        <db:select config-ref="Generic_Database_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[select * from trafika.Dobavljac where active=#[flowVars.active];]]></db:parameterized-query>
        </db:select>
        <dw:transform-message doc:name="Transform Message" metadata:id="03ca259c-c726-4c0a-b760-6c9cbc9fdacb">
            <dw:input-payload doc:sample="sample_data\MyPojo.dwl" mimeType="application/java"/>
            <dw:set-payload resource="classpath:json_proizvod_playground.dwl"/>
        </dw:transform-message>
        <logger level="INFO" doc:name="Logger" message="#[payload]"/>

    </flow>
    <flow name="getIzvestajiFlow">
        <db:select config-ref="Generic_Database_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[select * from trafika.Dobavljac;]]></db:parameterized-query>
        </db:select>

        <dw:transform-message doc:name="Transform Message" metadata:id="9e13650d-f9c2-4df5-b57f-e14aba196e7e">
            <dw:input-payload doc:sample="sample_data\MyPojo_1.dwl" mimeType="application/java"/>
            <dw:set-payload resource="classpath:json_proizvod_playground.dwl"/>
        </dw:transform-message>
        <logger level="INFO" doc:name="Logger" message="#[payload]"/>

    </flow>
    <flow name="getIzvestajByIDFlow">
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[select * from proizvod where proizvodID=#[message.inboundProperties.'http.uri.params'.ID];]]></db:parameterized-query>
        </db:select>
        <choice doc:name="Choice">
            <when expression="#[payload == empty]">
                <flow-ref name="izvestajErrorFlow" doc:name="izvestajErrorFlow"/>
            </when>
            <otherwise>
                <flow-ref name="izvestajSuccessFlow" doc:name="izvestajSuccessFlow"/>
            </otherwise>
        </choice>

    </flow>
    <flow name="izvestajErrorFlow">
        <set-property propertyName="http.status" value="404" doc:name="Property"/>
        <set-payload value="Ne postoji proizvod sa id: #[message.inboundProperties.'http.uri.params'.ID]." doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="izvestajSuccessFlow">
        <dw:transform-message doc:name="Transform Message" metadata:id="0fe42e8b-1747-4c96-b646-7e402c963723">
            <dw:input-payload doc:sample="sample_data\MyPojo_2.dwl"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <file:outbound-endpoint path="src/main/resources/output" outputPattern="Izvestaj" connector-ref="FileConnector" responseTimeout="10000" doc:name="Izvestaj" metadata:id="bdb6c06a-8ae0-438d-96d1-409bf41f0c76"/>
        <logger message="Dodat proizvod u fajl sa id: #[message.inboundProperties.'http.uri.params'.ID]." level="INFO" doc:name="Logger"/>
    </flow>

    <flow name="postIzvestajFlow">
        <dw:transform-message doc:name="Transform Message" metadata:id="48efdb66-77b0-4517-8ea5-070276a88acd">
            <dw:input-payload doc:sample="sample_data\json.json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <db:insert config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[insert into proizvod (proizvodID, cena, sifra, naziv, active) values (#[payload.proizvodID], #[payload.cena], #[payload.sifra], #[payload.naziv], #[payload.active]);]]></db:parameterized-query>
        </db:insert>
        <logger level="INFO" doc:name="Logger"/>

        <catch-exception-strategy doc:name="Catch Exception Strategy" >
            <set-property propertyName="http.status" value="400" doc:name="Property"/>
            <set-payload value="Vec postoji proizvod sa id: #[message.inboundProperties.'http.uri.params'.ID + '\n' + exception]" doc:name="Set Payload"/>

            <logger level="ERROR" doc:name="Logger" message="#[exception]"/>
        </catch-exception-strategy>
    </flow>
    <flow name="putIzvestajByIDFlow">
        <dw:transform-message doc:name="Transform Message" metadata:id="89c17684-7043-4111-a611-a88742c72419">
            <dw:input-payload doc:sample="sample_data\json_1.json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <db:insert config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[insert into proizvod (proizvodID, cena, sifra, naziv, active) 
values (#[payload.proizvodID], #[payload.cena], #[payload.sifra], #[payload.naziv], #[payload.active])
on duplicate key update 
cena=values(cena), 
sifra=values(sifra), 
naziv=values(naziv), 
active=values(active);]]></db:parameterized-query>

        </db:insert>
        <logger level="INFO" doc:name="Logger"/>

    </flow>
    <flow name="deleteIzvestajByIDFlow">
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[select * from proizvod where proizvodID=#[message.inboundProperties.'http.uri.params'.ID];]]></db:parameterized-query>
        </db:select>
        <choice doc:name="Choice">
            <when expression="#[payload == empty]">
                <flow-ref name="izvestajErrorFlow" doc:name="izvestajErrorFlow"/>
            </when>
            <otherwise>
                <db:bulk-execute config-ref="MySQL_Configuration" doc:name="Database"><![CDATA[delete from racun where proizvodID=#[message.inboundProperties.'http.uri.params'.ID];
delete from proizvod where proizvodID=#[message.inboundProperties.'http.uri.params'.ID];]]></db:bulk-execute>
                <set-payload value="Obrisan proizvod sa id: #[message.inboundProperties.'http.uri.params'.ID]." doc:name="Set Payload"/>
                <logger message="#[payload]" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>

    </flow>
</mule>
