target/classes/izvestaj_implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<db:template-query name="selectAllIzvestaj" doc:name="Template Query">
		<db:parameterized-query file="src\test\resources\selectAllIzvestaj.sql" />
	</db:template-query>
	<db:template-query name="selectByIDIzvestaj"
		doc:name="Template Query">
		<db:parameterized-query file="src\test\resources\selectByIDIzvestaj.sql" />
	</db:template-query>
	<db:template-query name="insertIzvestaj" doc:name="Template Query">
		<db:parameterized-query file="src\test\resources\insertIzvestaj.sql" />
	</db:template-query>
	<db:template-query name="updateIzvestaj" doc:name="Template Query">
		<db:parameterized-query file="src\test\resources\updateIzvestaj.sql" />
	</db:template-query>
	<db:template-query name="deleteIzvestaj" doc:name="Template Query">
		<db:parameterized-query file="src\test\resources\deleteIzvestaj.sql" />
	</db:template-query>
	<flow name="getIzvestajiFlow">
		<db:select config-ref="Generic_Database_Configuration"
			doc:name="Database">
			<db:template-query-ref name="selectAllIzvestaj" />
		</db:select>
		<choice doc:name="Choice">
			<when expression="#[payload == empty]">
				<set-payload doc:name="Set Payload"
					value="{  &quot;message&quot;: &quot;Trenutno nema izve&#353;taja u bazi podataka&quot; }" />
			</when>
			<otherwise>
				<dw:transform-message doc:name="Transform Message"
					metadata:id="04ca259c-c726-4c0a-b760-6c9cbc9fdacb">
					<dw:input-payload doc:sample="sample_data\Izvestaj.dwl"
						mimeType="application/java" />
					<dw:set-payload resource="classpath:json_izvestaj_playground.dwl" />
				</dw:transform-message>
			</otherwise>
		</choice>
	</flow>
	<flow name="getIzvestajByIDFlow">
		<db:select config-ref="Generic_Database_Configuration"
			doc:name="Database">
			<db:template-query-ref name="selectByIDIzvestaj" />
		</db:select>
		<choice doc:name="Choice">
			<when expression="#[payload == empty]">
				<flow-ref name="izvestajErrorFlow" doc:name="izvestajErrorFlow" />
			</when>
			<otherwise>
				<dw:transform-message doc:name="Transform Message"
					metadata:id="0fe42e9b-1747-4c96-b646-7e402c963723">
					<dw:input-payload doc:sample="sample_data\Izvestaj.dwl"
						mimeType="application/java" />
					<dw:set-payload resource="classpath:json_izvestaj_playground.dwl" />
				</dw:transform-message>
			</otherwise>
		</choice>
	</flow>
	<flow name="postIzvestajFlow">
		<dw:transform-message doc:name="Transform Message"
			metadata:id="48efdb66-77b1-4517-8ea5-070276a88acd">
			<dw:input-payload doc:sample="izvestaj-example.json"
				mimeType="application/json" />
			<dw:set-payload resource="classpath:java_playground.dwl" />
		</dw:transform-message>
		<flow-ref name="insertIzvestajFlow" doc:name="insertIzvestajFlow" />
	</flow>
	<flow name="putIzvestajByIDFlow">
		<dw:transform-message doc:name="Transform Message"
			metadata:id="89c17684-7043-4111-a611-a88742c72417">
			<dw:input-payload doc:sample="izvestaj-example.json"
				mimeType="application/json" />
			<dw:set-payload resource="classpath:java_playground.dwl" />
		</dw:transform-message>
		<enricher target="#[flowVars.result]" doc:name="Message Enricher">
			<db:update config-ref="Generic_Database_Configuration"
				doc:name="Database">
				<db:template-query-ref name="updateIzvestaj" />
			</db:update>
		</enricher>
		<choice doc:name="Choice">
			<when expression="#[flowVars.result == empty]">
				<flow-ref name="insertIzvestajFlow" doc:name="insertIzvestajFlow" />
				<set-property propertyName="http.status" value="201"
					doc:name="Property" />
			</when>
			<otherwise>
				<set-payload
					value="{ &quot;message&quot;: &quot;A&#382;uriran izve&#353;taj sa id: #[message.inboundProperties.'http.uri.params'.ID]&quot; }"
					doc:name="Set Payload" />
			</otherwise>
		</choice>
	</flow>
	<flow name="deleteIzvestajByIDFlow">
		<db:delete config-ref="Generic_Database_Configuration"
			doc:name="Database">
			<db:template-query-ref name="deleteIzvestaj" />
		</db:delete>
		<choice doc:name="Choice">
			<when expression="#[payload == empty]">
				<flow-ref name="izvestajErrorFlow" doc:name="izvestajErrorFlow" />
			</when>
			<otherwise>

				<set-payload
					value="{ &quot;message&quot;: &quot;Obrisan izve&#353;taj sa id: #[message.inboundProperties.'http.uri.params'.ID]&quot; }"
					doc:name="Set Payload" />
			</otherwise>
		</choice>

	</flow>

	<flow name="insertIzvestajFlow">
		<db:insert config-ref="Generic_Database_Configuration"
			doc:name="Database">
			<db:template-query-ref name="insertIzvestaj" />
		</db:insert>
		<set-payload
			value="{ &quot;message&quot;: &quot;Dodat novi izve&#353;taj&quot; }"
			doc:name="Set Payload" />
	</flow>

	<flow name="izvestajErrorFlow">
		<set-property propertyName="http.status" value="404"
			doc:name="Property" />
		<set-payload
			value="{ &quot;message&quot;: &quot;Ne postoji izve&#353;taj sa id: #[message.inboundProperties.'http.uri.params'.ID]&quot; }"
			doc:name="Set Payload" />
	</flow>
</mule>
