target/classes/porudzbina_implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<db:template-query name="selectAllPorudzbina"
		doc:name="Template Query">
		<db:parameterized-query file="src\test\resources\selectAllPorudzbina.sql" />
	</db:template-query>
	<db:template-query name="selectByIDPorudzbina"
		doc:name="Template Query">
		<db:parameterized-query file="src\test\resources\selectByIDPorudzbina.sql" />
	</db:template-query>
	<db:template-query name="insertPorudzbina" doc:name="Template Query">
		<db:parameterized-query file="src\test\resources\insertPorudzbina.sql" />
	</db:template-query>
	<db:template-query name="updatePorudzbina" doc:name="Template Query">
		<db:parameterized-query file="src\test\resources\updatePorudzbina.sql" />
	</db:template-query>
	<db:template-query name="deletePorudzbina" doc:name="Template Query">
		<db:parameterized-query file="src\test\resources\deletePorudzbina.sql" />
	</db:template-query>
	<flow name="getPorudzbineFlow">
		<db:select config-ref="Generic_Database_Configuration"
			doc:name="Database">
			<db:template-query-ref name="selectAllPorudzbina" />
		</db:select>
		<choice doc:name="Choice">
			<when expression="#[payload == empty]">
				<set-property doc:name="Property" propertyName="Content-Type"
					value="application/json" />
				<set-payload doc:name="Set Payload"
					value="{  &quot;message&quot;: &quot;Trenutno nema porud&#382;bina u bazi podataka&quot; }" />
			</when>
			<otherwise>
				<dw:transform-message doc:name="Transform Message"
					metadata:id="03ca259c-c721-4c1a-b761-6c9cbc9fdacb">
					<dw:input-payload doc:sample="sample_data\Porudzbina.dwl"
						mimeType="application/java" />
					<dw:set-payload resource="classpath:json_porudzbina_playground.dwl" />
				</dw:transform-message>
			</otherwise>
		</choice>
	</flow>
	<flow name="getPorudzbinaByIDFlow">
		<db:select config-ref="Generic_Database_Configuration"
			doc:name="Database">
			<db:template-query-ref name="selectByIDPorudzbina" />
		</db:select>
		<choice doc:name="Choice">
			<when expression="#[payload == empty]">
				<flow-ref name="porudzbinaErrorFlow" doc:name="porudzbinaErrorFlow" />
			</when>
			<otherwise>
				<dw:transform-message doc:name="Transform Message" metadata:id="0fe42e8b-1755-3c96-b646-7e402c963723">
					<dw:input-payload doc:sample="sample_data\Porudzbina.dwl" mimeType="application/java"/>
					<dw:set-payload resource="classpath:json_porudzbina_playground.dwl"/>
				</dw:transform-message>
			</otherwise>
		</choice>
	</flow>

	<flow name="postPorudzbinaFlow">
		<dw:transform-message doc:name="Transform Message"
			metadata:id="48aadb66-77b0-4517-8ea5-070276a88acd">
			<dw:input-payload doc:sample="porudzbina-example.json"
				mimeType="application/json" />
			<dw:set-payload resource="classpath:java_playground.dwl" />
		</dw:transform-message>
		<db:insert config-ref="Generic_Database_Configuration"
			doc:name="Database">
			<db:template-query-ref name="insertPorudzbina" />
		</db:insert>
		<set-property propertyName="Content-Type" value="application/json"
			doc:name="Property" />
		<set-payload doc:name="Set Payload"
			value="{ message: &quot;Dodata nova porud&#382;bina&quot; }" />
	</flow>
	<flow name="putPorudzbinaByIDFlow">
		<dw:transform-message doc:name="Transform Message"
			metadata:id="89c17684-7043-4111-a611-b58742c72419">
			<dw:input-payload doc:sample="porudzbina-example.json"
				mimeType="application/json" />
			<dw:set-payload resource="classpath:java_playground.dwl" />
		</dw:transform-message>
		<db:update config-ref="Generic_Database_Configuration"
			doc:name="Database">
			<db:template-query-ref name="updatePorudzbina" />
		</db:update>
		<set-property propertyName="Content-Type" value="application/json"
			doc:name="Property" />
		<set-payload doc:name="Set Payload"
			value="{ message: &quot;A&#382;urirana/dodata porud&#382;bina sa id: #[message.inboundProperties.'http.uri.params'.ID]&quot; }" />
	</flow>
	<flow name="deletePorudzbinaByIDFlow">
		<db:select config-ref="Generic_Database_Configuration"
			doc:name="Database">
			<db:template-query-ref name="selectByIDPorudzbina" />
		</db:select>
		<choice doc:name="Choice">
			<when expression="#[payload == empty]">
				<flow-ref name="porudzbinaErrorFlow" doc:name="porudzbinaErrorFlow" />
			</when>
			<otherwise>
				<db:delete config-ref="Generic_Database_Configuration"
					doc:name="Database">
					<db:template-query-ref name="deletePorudzbina" />
				</db:delete>
				<set-property propertyName="Content-Type" value="application/json"
					doc:name="Property" />
				<set-payload
					value="{ message: &quot;Obrisan porud&#382;bina sa id: #[message.inboundProperties.'http.uri.params'.ID]&quot; }"
					doc:name="Set Payload" />
			</otherwise>
		</choice>

	</flow>
	<flow name="porudzbinaErrorFlow">
		<set-property propertyName="http.status" value="404"
			doc:name="Property" />
		<set-payload
			value="Ne postoji porud&#382;bina sa id: #[message.inboundProperties.'http.uri.params'.ID]."
			doc:name="Set Payload" />
	</flow>
</mule>
