target/classes/porudzbina_implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="porudzbina_implementationFlow">
        <set-variable variableName="active" value="#[message.inboundProperties.active]" doc:name="Variable" metadata:id="ed9a7ab7-c43f-45c4-bf92-2a29feb099a7"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.active == empty]">
                <flow-ref name="getPorudzbineFlow" doc:name="getPorudzbineFlow"/>
            </when>
            <otherwise>
                <flow-ref name="getPorudzbineFlow2" doc:name="getPorudzbineFlow2"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="getPorudzbineFlow2">
        <db:select config-ref="Generic_Database_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[select * from it20g2016.trafika.Porudzbina;]]></db:parameterized-query>
        </db:select>
        <dw:transform-message doc:name="Transform Message" metadata:id="03ca259c-c721-4c1a-b761-6c9cbc9fdacb">
            <dw:input-payload doc:sample="sample_data\Porudzbina.dwl" mimeType="application/java"/>
            <dw:set-payload resource="classpath:json_porudzbina_playground.dwl"/>
        </dw:transform-message>
        <logger level="INFO" doc:name="Logger" message="#[payload]"/>

    </flow>
    <flow name="getPorudzbineFlow">
        <logger level="INFO" doc:name="Logger" message="#[payload]"/>

    </flow>
    <flow name="getPorudzbinaByIDFlow">
		<db:select config-ref="Generic_Database_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[select * from it20g2016.trafika.Porudzbina where porudzbinaID=#[message.inboundProperties.'http.uri.params'.ID];]]></db:parameterized-query>
		</db:select>
        <choice doc:name="Choice">
            <when expression="#[payload == empty]">
                <flow-ref name="porudzbinaErrorFlow" doc:name="porudzbinaErrorFlow"/>
            </when>
            <otherwise>
                <flow-ref name="porudzbinaSuccessFlow" doc:name="porudzbinaSuccessFlow"/>
            </otherwise>
        </choice>

    </flow>
    <flow name="porudzbinaErrorFlow">
        <set-property propertyName="http.status" value="404" doc:name="Property"/>
        <set-payload value="Ne postoji porud&#382;bina sa id: #[message.inboundProperties.'http.uri.params'.ID]." doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="porudzbinaSuccessFlow">
        <dw:transform-message doc:name="Transform Message" metadata:id="0fe42e8b-1755-3c96-b646-7e402c963723">
            <dw:input-payload doc:sample="sample_data\Porudzbina.dwl" mimeType="application/java"/>
            <dw:set-payload resource="classpath:json_porudzbina_playground.dwl"/>
        </dw:transform-message>
        <logger message="Dodat proizvod u fajl sa id: #[message.inboundProperties.'http.uri.params'.ID]." level="INFO" doc:name="Logger"/>
    </flow>

    <flow name="postPorudzbinaFlow">
        <dw:transform-message doc:name="Transform Message" metadata:id="48aadb66-77b0-4517-8ea5-070276a88acd">
            <dw:input-payload doc:sample="porudzbina-example.json" mimeType="application/json"/>
            <dw:set-payload resource="classpath:java_playground.dwl"/>
        </dw:transform-message>
		<db:insert config-ref="Generic_Database_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[insert into it20g2016.trafika.Porudzbina (datumPorucivanja, datumIsporuke, ukupanIznosPorudzbine, statusPorudzbine, dobavljacID, menadzerID, prodavacID) values (#[payload.datumPorucivanja], #[payload.datumIsporuke], #[payload.ukupanIznosPorudzbine], #[payload.statusPorudzbine], #[payload.dobavljacID], #[payload.menadzerID], #[payload.prodavacID]);]]></db:parameterized-query>
		</db:insert>
        <logger level="INFO" doc:name="Logger"/>

        <catch-exception-strategy doc:name="Catch Exception Strategy" >
            <set-property propertyName="http.status" value="400" doc:name="Property"/>
            <set-payload value="Vec postoji porud&#382;bina sa id: #[message.inboundProperties.'http.uri.params'.ID + '\n' + exception]" doc:name="Set Payload"/>

            <logger level="ERROR" doc:name="Logger" message="#[exception]"/>
        </catch-exception-strategy>
    </flow>
    <flow name="putPorudzbinaByIDFlow">
        <dw:transform-message doc:name="Transform Message" metadata:id="89c17684-7043-4111-a611-b58742c72419">
             <dw:input-payload doc:sample="porudzbina-example.json" mimeType="application/json"/>
             <dw:set-payload resource="classpath:java_playground.dwl"/>
        </dw:transform-message>
        <db:update config-ref="Generic_Database_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[update it20g2016.trafika.Porudzbina
set datumPorucivanja=#[payload.datumPorucivanja],
datumIsporuke=#[payload.datumIsporuke],
ukupanIznosPorudzbine=#[payload.ukupanIznosPorudzbine],
statusPorudzbine=#[payload.statusPorudzbine],
dobavljacID=#[payload.dobavljacID],
menadzerID=#[payload.menadzerID],
prodavacID=#[payload.prodavacID]
where porudzbinaID=#[message.inboundProperties.'http.uri.params'.ID]
if @@rowcount=0
insert into it20g2016.trafika.Porudzbina (datumPorucivanja, datumIsporuke, ukupanIznosPorudzbine, statusPorudzbine, dobavljacID, menadzerID, prodavacID) values (#[payload.datumPorucivanja], #[payload.datumIsporuke], #[payload.ukupanIznosPorudzbine], #[payload.statusPorudzbine], #[payload.dobavljacID], #[payload.menadzerID], #[payload.prodavacID]);]]></db:parameterized-query>


        </db:update>
        <logger level="INFO" doc:name="Logger"/>

    </flow>
    <flow name="deletePorudzbinaByIDFlow">
        <db:select config-ref="Generic_Database_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[select * from it20g2016.trafika.Porudzbina where porudzbinaID=#[message.inboundProperties.'http.uri.params'.ID];]]></db:parameterized-query>
        </db:select>
        <choice doc:name="Choice">
            <when expression="#[payload == empty]">
                <flow-ref name="porudzbinaErrorFlow" doc:name="porudzbinaErrorFlow"/>
            </when>
            <otherwise>
                <db:delete config-ref="Generic_Database_Configuration" doc:name="Database">
					<db:parameterized-query><![CDATA[delete from it20g2016.trafika.Porudzbina where porudzbinaID=#[message.inboundProperties.'http.uri.params'.ID];]]></db:parameterized-query></db:delete>
				<set-payload value="Obrisana porud&#382;bina sa id: #[message.inboundProperties.'http.uri.params'.ID]." doc:name="Set Payload"/>
                <logger message="#[payload]" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>

    </flow>
</mule>
