target/classes/racun_implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="racun_implementationFlow">
        <set-variable variableName="active" value="#[message.inboundProperties.active]" doc:name="Variable"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.active == empty]">
                <flow-ref name="getRacuniFlow" doc:name="getRacuniFlow"/>
            </when>
            <otherwise>
                <flow-ref name="getRacuniFlow2" doc:name="getRacuniFlow2"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="getRacuniFlow2">
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[select * from racun where active=#[flowVars.active];]]></db:parameterized-query>
        </db:select>
        <dw:transform-message doc:name="Transform Message" metadata:id="438432db-7d9b-4d5f-9573-0f9a340d0970">
            <dw:input-payload doc:sample="sample_data\list_map.dwl"/>
            <dw:set-payload resource="classpath:json_racun_playground.dwl"/>
        </dw:transform-message>
        <logger level="INFO" doc:name="Logger" message="#[payload]"/>
    </flow>
    <flow name="getRacuniFlow">
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[select * from racun;]]></db:parameterized-query>
        </db:select>
        <dw:transform-message doc:name="Transform Message" metadata:id="9e13650d-f9c2-4df5-b57f-e14aba196e7e">
            <dw:input-payload doc:sample="sample_data\list_Proizvod.dwl" mimeType="application/java"/>
            <dw:set-payload resource="classpath:json_racun_playground.dwl"/>
        </dw:transform-message>
        <logger level="INFO" doc:name="Logger" message="#[payload]"/>
    </flow>
    <flow name="getRacunByIDFlow">
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[select * from racun where racunID=#[message.inboundProperties.'http.uri.params'.ID];]]></db:parameterized-query>
        </db:select>
        <choice doc:name="Choice">
            <when expression="#[payload == empty]">
                <flow-ref name="errorFlow" doc:name="Flow Reference"/>
            </when>
            <otherwise>
                <flow-ref name="successFlow" doc:name="Flow Reference"/>
            </otherwise>
        </choice>

    </flow>
    <flow name="errorFlow">
        <set-property propertyName="http.status" value="404" doc:name="Property"/>
        <set-payload value="Ne postoji racun sa id: #[message.inboundProperties.'http.uri.params'.ID]." doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="successFlow">
        <dw:transform-message doc:name="Transform Message" metadata:id="215c4bd6-75df-4a1c-bbaa-1700cf6d8c38">
            <dw:input-payload mimeType="application/java"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <file:outbound-endpoint path="src/main/resources/output" outputPattern="Racun" connector-ref="FileConnector" responseTimeout="10000" doc:name="Racun"/>
        <logger message="Dodat racun u fajl sa id: #[message.inboundProperties.'http.uri.params'.ID]." level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="postRacunFlow">
        <dw:transform-message doc:name="Transform Message" metadata:id="72c76926-c38e-42e8-8d25-739caccbe003">
            <dw:input-payload doc:sample="sample_data\json_2.json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <db:insert config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[insert into racun (racunID, vremeIzdavanja, mestoIzdavanja, iznos, kolicina, proizvodID, active) values (#[payload.racunID], #[payload.vremeIzdavanja], #[payload.mestoIzdavanja], #[payload.iznos], #[payload.kolicina], #[payload.proizvodID], #[payload.active]);]]></db:parameterized-query>
        </db:insert>
        <logger level="INFO" doc:name="Logger"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-property propertyName="http.status" value="400" doc:name="Property"/>
            <set-payload doc:name="Set Payload" value="Vec postoji racun sa id: #[message.inboundProperties.'http.uri.params'.ID + '\n' + exception]"/>

            <logger level="INFO" doc:name="Logger"/>
        </catch-exception-strategy>
    </flow>
    <flow name="putRacunByIDFlow">
        <dw:transform-message doc:name="Transform Message" metadata:id="27b0d247-0080-4564-bfd5-3d7106c31ded">
            <dw:input-payload doc:sample="sample_data\json_3.json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <db:update config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[insert into racun (racunID, vremeIzdavanja, mestoIzdavanja, iznos, kolicina, proizvodID, active) values (#[payload.racunID], #[payload.vremeIzdavanja], #[payload.mestoIzdavanja], #[payload.iznos], #[payload.kolicina], #[payload.proizvodID], #[payload.active])
on duplicate key update 
vremeIzdavanja=values(vremeIzdavanja), 
mestoIzdavanja=values(mestoIzdavanja), 
iznos=values(iznos), 
kolicina=values(kolicina), 
proizvodID=values(proizvodID), 
active=values(active);]]></db:parameterized-query>
        </db:update>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="deleteRacunByIDFlow">
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[select * from racun where racunID=#[message.inboundProperties.'http.uri.params'.ID];]]></db:parameterized-query>

        </db:select>
        <choice doc:name="Choice">
            <when expression="#[payload == empty]">
                <flow-ref name="errorFlow" doc:name="Flow Reference"/>
            </when>
            <otherwise>
                <db:delete config-ref="MySQL_Configuration" doc:name="Database">
                    <db:parameterized-query><![CDATA[delete from racun where racunID=#[message.inboundProperties.'http.uri.params'.ID];]]></db:parameterized-query>
                </db:delete>
                <set-payload value="Obrisan racun sa id: #[message.inboundProperties.'http.uri.params'.ID]." doc:name="Set Payload"/>
                <logger message="#[payload]" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>

    </flow>
</mule>
