target/classes/racun_implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="racun_implementationFlow">
        <set-variable variableName="active" value="#[message.inboundProperties.active]" doc:name="Variable"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.active == empty]">
                <flow-ref name="getRacuniFlow" doc:name="getRacuniFlow"/>
            </when>
            <otherwise>
                <flow-ref name="getRacuniFlow2" doc:name="getRacuniFlow2"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="getRacuniFlow2">
		<db:select config-ref="Generic_Database_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[select * from it20g2016.trafika.Racun;]]></db:parameterized-query>
		</db:select>
        <dw:transform-message doc:name="Transform Message" metadata:id="222432db-7d9b-4d5f-9573-0f9a340d0970">
            <dw:input-payload doc:sample="sample_data\Racun.dwl" mimeType="application/java"/>
            <dw:set-payload resource="classpath:json_racun_playground.dwl"/>
        </dw:transform-message>
        <logger level="INFO" doc:name="Logger" message="#[payload]"/>
    </flow>
    <flow name="getRacuniFlow">
        <logger level="INFO" doc:name="Logger" message="#[payload]"/>
    </flow>
    <flow name="getRacunByIDFlow">
		<db:select config-ref="Generic_Database_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[select * from it20g2016.trafika.Racun where racunID=#[message.inboundProperties.'http.uri.params'.ID];]]></db:parameterized-query>
		</db:select>
        <choice doc:name="Choice">
            <when expression="#[payload == empty]">
                <flow-ref name="racunErrorFlow" doc:name="racunErrorFlow"/>
            </when>
            <otherwise>
                <flow-ref name="racunSuccessFlow" doc:name="racunSuccessFlow"/>
            </otherwise>
        </choice>

    </flow>
    <flow name="racunErrorFlow">
        <set-property propertyName="http.status" value="404" doc:name="Property"/>
        <set-payload value="Ne postoji ra&#269;un sa id: #[message.inboundProperties.'http.uri.params'.ID]." doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="racunSuccessFlow">
        <dw:transform-message doc:name="Transform Message" metadata:id="222c4bd6-75df-4a1c-bbaa-1700cf6d8c38">
            <dw:input-payload doc:sample="sample_data\Racun.dwl" mimeType="application/java"/>
            <dw:set-payload resource="classpath:json_racun_playground.dwl"/>
        </dw:transform-message>
        <logger message="Dodat racun u fajl sa id: #[message.inboundProperties.'http.uri.params'.ID]." level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="postRacunFlow">
        <dw:transform-message doc:name="Transform Message" metadata:id="72c76926-c11e-42e8-8d25-739caccbe003">
            <dw:input-payload doc:sample="racun-example.json" mimeType="application/json"/>
            <dw:set-payload resource="classpath:java_playground.dwl"/>
        </dw:transform-message>
        <db:insert config-ref="Generic_Database_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[insert into it20g2016.trafika.Racun (vremeIzdavanja, mestoIzdavanja, ukupanIznosRacuna, nazivProdavnice, nacinPlacanja, brojRacuna, tipRacuna, prodavacID) values (#[payload.vremeIzdavanja], #[payload.mestoIzdavanja], #[payload.ukupanIznosRacuna], #[payload.nazivProdavnice], #[payload.nacinPlacanja], #[payload.brojRacuna], #[payload.tipRacuna], #[payload.prodavacID]);]]></db:parameterized-query>

        </db:insert>
        <logger level="INFO" doc:name="Logger"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-property propertyName="http.status" value="400" doc:name="Property"/>
            <set-payload doc:name="Set Payload" value="Vec postoji ra&#269;un sa id: #[message.inboundProperties.'http.uri.params'.ID + '\n' + exception]"/>

            <logger level="INFO" doc:name="Logger"/>
        </catch-exception-strategy>
    </flow>
    <flow name="putRacunByIDFlow">
        <dw:transform-message doc:name="Transform Message" metadata:id="27b0d247-0555-4564-bfd5-3d7106c31ded">
            <dw:input-payload doc:sample="racun-example.json" mimeType="application/json"/>
            <dw:set-payload resource="classpath:java_playground.dwl"/>
        </dw:transform-message>
        <db:update config-ref="Generic_Database_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[update it20g2016.trafika.Racun
set vremeIzdavanja=#[payload.vremeIzdavanja],
mestoIzdavanja=#[payload.mestoIzdavanja],
ukupanIznosRacuna=ukupanIznosRacuna,
nazivProdavnice=nazivProdavnice,
nacinPlacanja=nacinPlacanja,
brojRacuna=brojRacuna,
tipRacuna=tipRacuna,
prodavacID=prodavacID
where racunID=#[message.inboundProperties.'http.uri.params'.ID]
if @@rowcount=0
insert into it20g2016.trafika.Racun (vremeIzdavanja, mestoIzdavanja, ukupanIznosRacuna, nazivProdavnice, nacinPlacanja, brojRacuna, tipRacuna, prodavacID) values (#[payload.vremeIzdavanja], #[payload.mestoIzdavanja], #[payload.ukupanIznosRacuna], #[payload.nazivProdavnice], #[payload.nacinPlacanja], #[payload.brojRacuna], #[payload.tipRacuna], #[payload.prodavacID]);]]></db:parameterized-query>

        </db:update>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="deleteRacunByIDFlow">
        <db:select config-ref="Generic_Database_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[select * from it20g2016.trafika.Racun where racunID=#[message.inboundProperties.'http.uri.params'.ID];]]></db:parameterized-query>

        </db:select>
        <choice doc:name="Choice">
            <when expression="#[payload == empty]">
                <flow-ref name="racunErrorFlow" doc:name="racunErrorFlow"/>
            </when>
            <otherwise>
                <db:delete config-ref="Generic_Database_Configuration" doc:name="Database">
					<db:parameterized-query><![CDATA[delete from it20g2016.trafika.Racun where racunID=#[message.inboundProperties.'http.uri.params'.ID];]]></db:parameterized-query>
                </db:delete>
                <set-payload value="Obrisan ra&#269;un sa id: #[message.inboundProperties.'http.uri.params'.ID]." doc:name="Set Payload"/>
                <logger message="#[payload]" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>

    </flow>
</mule>
