target/classes/stavkaPorudzbine_implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="stavkaPorudzbine_implementationFlow">
        <set-variable variableName="active" value="#[message.inboundProperties.active]" doc:name="Variable" metadata:id="ed9a7ab7-c43f-45c4-bf92-2a29feb099a7"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.active == empty]">
                <flow-ref name="getStavkePorudzbineFlow" doc:name="getStavkePorudzbineFlow"/>
            </when>
            <otherwise>
                <flow-ref name="getStavkePorudzbineFlow2" doc:name="getStavkePorudzbineFlow2"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="getStavkePorudzbineFlow2">
        <db:select config-ref="Generic_Database_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[select * from it20g2016.trafika.StavkaPorudzbine;]]></db:parameterized-query>
        </db:select>
        <dw:transform-message doc:name="Transform Message" metadata:id="03ca259c-c736-4c0a-b760-6c9cbc9fdacg">
            <dw:input-payload doc:sample="sample_data\StavkaPorudzbine.dwl" mimeType="application/java"/>
            <dw:set-payload resource="classpath:json_stavkaPorudzbine_playground.dwl"/>
        </dw:transform-message>
        <logger level="INFO" doc:name="Logger" message="#[payload]"/>

    </flow>
    <flow name="getStavkePorudzbineFlow">
        <logger level="INFO" doc:name="Logger" message="#[payload]"/>

    </flow>
    <flow name="getStavkaPorudzbineByIDFlow">
        <db:select config-ref="Generic_Database_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[select * from it20g2016.trafika.StavkaPorudzbine where porudzbinaID=#[message.inboundProperties.'http.uri.params'.ID];]]></db:parameterized-query>
        </db:select>
        <choice doc:name="Choice">
            <when expression="#[payload == empty]">
                <flow-ref name="stavkaPorudzbineErrorFlow" doc:name="stavkaPorudzbineErrorFlow"/>
            </when>
            <otherwise>
                <flow-ref name="stavkaPorudzbineSuccessFlow" doc:name="stavkaPorudzbineSuccessFlow"/>
            </otherwise>
        </choice>

    </flow>
    <flow name="stavkaPorudzbineErrorFlow">
        <set-property propertyName="http.status" value="404" doc:name="Property"/>
		<set-payload value="Ne postoji stavka porud&#382;bine sa id: #[message.inboundProperties.'http.uri.params'.ID]." doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="stavkaPorudzbineSuccessFlow">
        <dw:transform-message doc:name="Transform Message" metadata:id="0fe42e8b-1747-4c51-b646-7e402c963723">
            <dw:input-payload doc:sample="sample_data\StavkaPorudzbine.dwl" mimeType="application/java"/>
            <dw:set-payload resource="classpath:json_stavkaPorudzbine_playground.dwl"/>
        </dw:transform-message>
        <logger message="Dodat proizvod u fajl sa id: #[message.inboundProperties.'http.uri.params'.ID]." level="INFO" doc:name="Logger"/>
    </flow>

    <flow name="postStavkaPorudzbineFlow">
        <dw:transform-message doc:name="Transform Message" metadata:id="48efdb55-77b0-4517-8ea5-070276a88acd">
            <dw:input-payload doc:sample="stavkaPorudzbine-example.json" mimeType="application/json"/>
            <dw:set-payload resource="classpath:java_playground.dwl"/>
        </dw:transform-message>
        <db:insert config-ref="Generic_Database_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[insert into it20g2016.trafika.StavkaPorudzbine (porudzbinaID, proizvodID, kolicina, nabavnaCena) values (#[payload.porudzbinaID], #[payload.proizvodID], #[payload.kolicina], #[payload.nabavnaCena]);]]></db:parameterized-query>
        </db:insert>
        <logger level="INFO" doc:name="Logger"/>

        <catch-exception-strategy doc:name="Catch Exception Strategy" >
            <set-property propertyName="http.status" value="400" doc:name="Property"/>
            <set-payload value="Ve&#263; postoji stavka porud&#382;bine sa id: #[message.inboundProperties.'http.uri.params'.ID + '\n' + exception]" doc:name="Set Payload"/>

            <logger level="ERROR" doc:name="Logger" message="#[exception]"/>
        </catch-exception-strategy>
    </flow>
    <flow name="putStavkaPorudzbineByIDFlow">
        <dw:transform-message doc:name="Transform Message" metadata:id="95c17684-7043-4111-a611-a88742c72419">
            <dw:input-payload doc:sample="stavkaPorudzbine-example.json" mimeType="application/json"/>
            <dw:set-payload resource="classpath:java_playground.dwl"/>
        </dw:transform-message>
        <db:insert config-ref="Generic_Database_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[insert into proizvod (proizvodID, cena, sifra, naziv, active) 
values (#[payload.proizvodID], #[payload.cena], #[payload.sifra], #[payload.naziv], #[payload.active])
on duplicate key update 
cena=values(cena), 
sifra=values(sifra), 
naziv=values(naziv), 
active=values(active);]]></db:parameterized-query>


        </db:insert>
		<logger level="INFO" doc:name="Logger"/>

    </flow>
    <flow name="deleteStavkaPorudzbineByIDFlow">
        <db:select config-ref="Generic_Database_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[select * from it20g2016.trafika.StavkaPorudzbine where porudzbinaID=#[message.inboundProperties.'http.uri.params'.ID];]]></db:parameterized-query>
        </db:select>
        <choice doc:name="Choice">
            <when expression="#[payload == empty]">
                <flow-ref name="stavkaPorudzbineErrorFlow" doc:name="stavkaPorudzbineErrorFlow"/>
            </when>
            <otherwise>
                <db:delete config-ref="Generic_Database_Configuration" doc:name="Database">
					<db:parameterized-query><![CDATA[delete from it20g2016.trafika.StavkaPorudzbine where porudzbinaID=#[message.inboundProperties.'http.uri.params'.ID];]]></db:parameterized-query></db:delete>
                <set-payload value="Obrisan proizvod sa id: #[message.inboundProperties.'http.uri.params'.ID]." doc:name="Set Payload"/>
                <logger message="#[payload]" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>

    </flow>
</mule>
