target/classes/vrsta_proizvoda_implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<db:template-query name="selectAllVrstaProizvoda"
		doc:name="Template Query">
		<db:parameterized-query
			file="src\test\resources\selectAllVrstaProizvoda.sql" />
	</db:template-query>
	<db:template-query name="selectByIDVrstaProizvoda"
		doc:name="Template Query">
		<db:parameterized-query
			file="src\test\resources\selectByIDVrstaProizvoda.sql" />
	</db:template-query>
	<db:template-query name="insertVrstaProizvoda"
		doc:name="Template Query">
		<db:parameterized-query file="src\test\resources\insertVrstaProizvoda.sql" />
	</db:template-query>
	<db:template-query name="updateVrstaProizvoda"
		doc:name="Template Query">
		<db:parameterized-query file="src\test\resources\updateVrstaProizvoda.sql" />
	</db:template-query>
	<db:template-query name="deleteVrstaProizvoda"
		doc:name="Template Query">
		<db:parameterized-query file="src\test\resources\deleteVrstaProizvoda.sql" />
	</db:template-query>
	<flow name="getVrsteProizvodaFlow">
		<db:select config-ref="Generic_Database_Configuration"
			doc:name="Database">
			<db:template-query-ref name="selectAllVrstaProizvoda" />
		</db:select>
		<choice doc:name="Choice">
			<when expression="#[payload == empty]">
				<set-payload doc:name="Set Payload"
					value="{  &quot;message&quot;: &quot;Trenutno nema vrsta proizvoda u bazi podataka&quot; }" />
			</when>
			<otherwise>
				<dw:transform-message doc:name="Transform Message"
					metadata:id="03ca259c-c726-4c0a-b765-2c9cbc9fdacb">
					<dw:input-payload doc:sample="sample_data\VrstaProizvoda.dwl"
						mimeType="application/java" />
					<dw:set-payload resource="classpath:json_vrstaProizvoda_playground.dwl" />
				</dw:transform-message>
			</otherwise>
		</choice>
	</flow>
	<flow name="getVrstaProizvodaByIDFlow">
		<db:select config-ref="Generic_Database_Configuration"
			doc:name="Database">
			<db:template-query-ref name="selectByIDVrstaProizvoda" />
		</db:select>
		<choice doc:name="Choice">
			<when expression="#[payload == empty]">
				<flow-ref name="vrstaProizvodaErrorFlow" doc:name="vrstaProizvodaErrorFlow" />
			</when>
			<otherwise>
				<dw:transform-message doc:name="Transform Message"
					metadata:id="0fe42e8b-2747-4c96-b646-7e402c967723">
					<dw:input-payload doc:sample="sample_data\VrstaProizvoda.dwl"
						mimeType="application/java" />
					<dw:set-payload resource="classpath:json_vrstaProizvoda_playground.dwl" />
				</dw:transform-message>
			</otherwise>
		</choice>
	</flow>
	<flow name="postVrstaProizvodaFlow">
		<dw:transform-message doc:name="Transform Message"
			metadata:id="89c17684-7043-4112-a611-a88742c55555">
			<dw:input-payload doc:sample="vrstaProizvoda-example.json"
				mimeType="application/json" />
			<dw:set-payload resource="classpath:java_playground.dwl" />
		</dw:transform-message>
		<flow-ref name="insertVrstaProizvodaFlow" doc:name="insertVrstaProizvodaFlow" />
	</flow>
	<flow name="putVrstaProizvodaByIDFlow">
		<dw:transform-message doc:name="Transform Message"
			metadata:id="89c17684-7043-4112-a611-a88742c72419">
			<dw:input-payload doc:sample="vrstaProizvoda-example.json"
				mimeType="application/json" />
			<dw:set-payload resource="classpath:java_playground.dwl" />
		</dw:transform-message>
		<enricher target="#[flowVars.result]" doc:name="Message Enricher">
			<db:update config-ref="Generic_Database_Configuration"
				doc:name="Database">
				<db:template-query-ref name="updateVrstaProizvoda" />
			</db:update>
		</enricher>
		<choice doc:name="Choice">
			<when expression="#[flowVars.result == empty]">
				<flow-ref name="insertVrstaProizvodaFlow" doc:name="insertVrstaProizvodaFlow" />
				<set-property propertyName="http.status" value="201"
					doc:name="Property" />
			</when>
			<otherwise>
				<set-payload
					value="{ &quot;message&quot;: &quot;A&#382;urirana vrsta proizvoda sa id: #[message.inboundProperties.'http.uri.params'.ID]&quot; }"
					doc:name="Set Payload" />
			</otherwise>
		</choice>
	</flow>
	<flow name="deleteVrstaProizvodaByIDFlow">
		<db:delete config-ref="Generic_Database_Configuration"
			doc:name="Database">
			<db:template-query-ref name="deleteVrstaProizvoda" />
		</db:delete>
		<choice doc:name="Choice">
			<when expression="#[payload == empty]">
				<flow-ref name="vrstaProizvodaErrorFlow" doc:name="vrstaProizvodaErrorFlow" />
			</when>
			<otherwise>
				<set-payload
					value="{ &quot;message&quot;: &quot;Obrisana vrsta proizvoda sa id: #[message.inboundProperties.'http.uri.params'.ID]&quot; }"
					doc:name="Set Payload" />
			</otherwise>
		</choice>
	</flow>
	<flow name="insertVrstaProizvodaFlow">
		<db:insert config-ref="Generic_Database_Configuration"
			doc:name="Database">
			<db:template-query-ref name="insertVrstaProizvoda" />
		</db:insert>
		<set-payload
			value="{ &quot;message&quot;: &quot;Dodata nova vrsta proizvoda&quot; }"
			doc:name="Set Payload" />
	</flow>
	<flow name="vrstaProizvodaErrorFlow">
		<set-property propertyName="http.status" value="404"
			doc:name="Property" />
		<set-payload
			value="{ &quot;message&quot;: &quot;Ne postoji vrsta proizvoda sa id: #[message.inboundProperties.'http.uri.params'.ID]&quot; }"
			doc:name="Set Payload" />
	</flow>
</mule>
